.thread-section {
  float: left;
  width: 32.5%;
}

.thread-count {
  height: 40px;
  margin: 0;
}

.thread-list {
  border: 1px solid #ccf;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}