body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #f5f5f5;
  color: #4d4d4d;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;

  margin: 0;
  padding-top: 50px;
}
.style__normal___3U4EG {
  font-size: 30px;
  line-height: 50px;
  left: 0;
  position: absolute;
  color: white;
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 20px;
  margin:0 20px;
}

.style__normal___3U4EG:hover {
  cursor: pointer;
  background: #CD0554;
  color: #2A2A2A;
}.style__normal___iTTVY {
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  right: 0;
  color: white;
  background-color: #2A2A2A;
  color: white;
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 20px;
  margin:0 20px;
}

.style__normal___iTTVY:hover {
  cursor: pointer;
  background: #CD0554;
  color: #2A2A2A;
}#style__id___1exur {
  padding-top: 1px;
}

ul {
  padding: 10px;
}

[id="jj"] {
  padding-top: 10px;
}

.style__new___3uTeP,
.style__edit___oiQLe {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-smoothing: antialiased;
}

.style__new___3uTeP {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
.style__normal___397BS .style__toggle___1j5yE {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.style__normal___397BS .style__toggle___1j5yE:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.style__normal___397BS .style__toggle___1j5yE:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.style__normal___397BS label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.style__normal___397BS .style__destroy___3I4dE {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.style__normal___397BS .style__destroy___3I4dE:hover {
  color: #af5b5e;
}

.style__normal___397BS .style__destroy___3I4dE:after {
  content: '\D7';
}

.style__normal___397BS:hover .style__destroy___3I4dE {
  display: block;
}

.style__normal___397BS .style__edit___1RaNC {
  display: none;
}

.style__editing___2PULc {
  border-bottom: none;
  padding: 0;
}

.style__editing___2PULc:last-child {
  margin-bottom: -1px;
}

.style__editing___2PULc .style__edit___1RaNC {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.style__editing___2PULc .style__view___2HqOh {
  display: none;
}

.style__completed___118kj label {
  color: #d9d9d9;
  text-decoration: line-through;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .style__normal___397BS .style__toggle___1j5yE {
    background: none;
  }

  .style__normal___397BS .style__toggle___1j5yE {
    height: 40px;
  }
}
.style__normal___2NVjP {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.style__normal___2NVjP:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.style__filters___1XtyZ {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.style__filters___1XtyZ li {
  display: inline;
}

.style__filters___1XtyZ li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.style__filters___1XtyZ li a.style__selected___1cVb1,
.style__filters___1XtyZ li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.style__filters___1XtyZ li a.style__selected___1cVb1 {
  border-color: rgba(175, 47, 47, 0.2);
}

.style__count___14dCb {
  float: left;
  text-align: left;
}

.style__count___14dCb strong {
  font-weight: 300;
}

.style__clearCompleted___1teqF,
html .style__clearCompleted___1teqF:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  visibility: hidden;
  position: relative;
}

.style__clearCompleted___1teqF::after {
  visibility: visible;
  content: 'Clear completed';
  position: absolute;
  right: 0;
  white-space: nowrap;
}

.style__clearCompleted___1teqF:hover::after {
  text-decoration: underline;
}

@media (max-width: 430px) {
  .style__normal___2NVjP {
    height: 50px;
  }

  .style__filters___1XtyZ {
    bottom: 10px;
  }
}
.style__main___3M5ao {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.style__normal___2f_dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.style__normal___2f_dl li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.style__normal___2f_dl li:last-child {
  border-bottom: none;
}

.style__normal___2f_dl li.style__editing___2k0W5 {
  border-bottom: none;
  padding: 0;
}

.style__normal___2f_dl li.style__editing___2k0W5 .style__edit___1JGBS {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.style__normal___2f_dl li.style__editing___2k0W5 .style__view___rfASl {
  display: none;
}

.style__normal___2f_dl li .style__toggle___ugbx7 {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.style__normal___2f_dl li .style__toggle___ugbx7:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.style__normal___2f_dl li .style__toggle___ugbx7:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.style__normal___2f_dl li label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.style__normal___2f_dl li.style__completed___2ISyk label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.style__normal___2f_dl li .style__destroy___2WNnf {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.style__normal___2f_dl li .style__destroy___2WNnf:hover {
  color: #af5b5e;
}

.style__normal___2f_dl li .style__destroy___2WNnf:after {
  content: '\D7';
}

.style__normal___2f_dl li:hover .style__destroy___2WNnf {
  display: block;
}

.style__normal___2f_dl li .style__edit___1JGBS {
  display: none;
}

.style__normal___2f_dl li.style__editing___2k0W5:last-child {
  margin-bottom: -1px;
}

.style__toggleAll___3n0TX {
  position: absolute;
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none; /* Mobile Safari */
}

.style__toggleAll___3n0TX:before {
  content: '\276F';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.style__toggleAll___3n0TX:checked:before {
  color: #737373;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .style__toggleAll___3n0TX,
  .style__normal___2f_dl li .style__toggle___ugbx7 {
    background: none;
  }

  .style__normal___2f_dl li .style__toggle___ugbx7 {
    height: 40px;
  }

  .style__toggleAll___3n0TX {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}.style__wrapper___2Io1o {
  padding: 0 20px;
  line-height: 2em;
}

.style__normal___18IRC {
  background: #fff;
  margin: 200px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.style__normal___18IRC input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.style__normal___18IRC input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.style__normal___18IRC input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.style__normal___18IRC h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.style__normal___18IRC button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-smoothing: antialiased;
}

.style__normal___18IRC button,
input[type="checkbox"] {
  outline: none;
}
.style__normal___3JUB- {
  background-color: #2A2A2A;
  color: white;
  padding: 40px;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.style__normal___3JUB- .style__name___1Tg07 {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  padding: 0 100px;
}

.style__normal___3JUB- .style__projects___3_nTK {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 40px;
}

.style__normal___3JUB- .style__projects___3_nTK .style__project___3TR7R {
  padding: 0 40px;
  text-decoration: none;
  color: white;
}

.style__normal___3JUB- .style__projects___3_nTK .style__project___3TR7R:hover {
  color: #CD0554;
}

.style__normal___3JUB- .style__projects___3_nTK .style__project___3TR7R .icon {
  font-size: 100px;
}.style__normal___3QOuM {
  background: #79838F;
  max-height: 50px;
  line-height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.style__normal___3QOuM a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  padding-left: 20px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.style__normal___3QOuM a:hover {
  color: #2A2A2A;
}.style__message-composer___1DCO3 {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 5em;
  width: 100%;
  margin: 20px 0 0;
  padding: 10px;
}
.style__message-list-item___XvxCW {
  list-style: none;
  padding: 12px 14px 14px;
}

.style__message-author-name___3IF-P {
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.style__message-time___V1fwF {
  color: #aad;
  float: right;
  font-size: 12px;
}

.style__message-text___29PYP {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}
.style__message-section___1WIrX {
  float: right;
  width: 65%;
}

.style__message-thread-heading___fJAEL {
  height: 40px;
  margin: 0;
}

.style__message-list___36aIa {
  border: 1px solid #ccf;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}.style__thread-list-item___1ZUQF {
  list-style: none;
  padding: 12px 14px 14px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.style__thread-list-item___1ZUQF.style__active___2knOM,
.style__thread-list___2FJ_j:hover .style__thread-list-item___1ZUQF.style__active___2knOM,
.style__thread-list___2FJ_j:hover .style__thread-list-item___1ZUQF.style__active___2knOM:hover {
  background-color: #efefff;
  cursor: default;
}

.style__thread-name___2h1Wz {
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.style__thread-time___RSBy3 {
  color: #aad;
  float: right;
  font-size: 12px;
}

.style__thread-last-message___18tx4 {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}.style__thread-section___dsXwR {
  float: left;
  width: 32.5%;
}

.style__thread-count___B05xr {
  height: 40px;
  margin: 0;
}

.style__thread-list___1W2Lw {
  border: 1px solid #ccf;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}.style__chatapp___1Gb1S {
  font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}