.thread-list-item {
  list-style: none;
  padding: 12px 14px 14px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.thread-list-item.active,
.thread-list:hover .thread-list-item.active,
.thread-list:hover .thread-list-item.active:hover {
  background-color: #efefff;
  cursor: default;
}

.thread-name {
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.thread-time {
  color: #aad;
  float: right;
  font-size: 12px;
}

.thread-last-message {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}