.normal {
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  right: 0;
  color: white;
  background-color: #2A2A2A;
  color: white;
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 20px;
  margin:0 20px;
}

.normal:hover {
  cursor: pointer;
  background: #CD0554;
  color: #2A2A2A;
}